<!-- <form (ngSubmit)="agregar()"> -->
    <header class="top">
        <article class="top_t1">
            <span>Dirección:</span>
            <input type="text" class="lock" [value]="imprimirDirecciones(varDireccion)" readonly>
        </article>
        <article class="top_t1">
            <span>Dirección con codificación Dian:</span>
            <input type="text" class="lock" [value]="imprimirDirecciones(varDirCofificada)" readonly>
        </article>
        <article class="top_t1">
            <span>Buscar:</span>
            <select name="drop_tab" >
                <option disabled>Elige una opción...</option>
                <option *ngFor="let dato of datosSelector" >{{dato.nombre}}</option>
            </select>
        </article>
    </header>
    <section class="mid1">
        <h2>Nomenclaturas</h2>
        <article class="mid1_grid" id="mid1_grid">
            <button *ngFor="let dato of datosNomenclatura" class="but_t1" (click)="validarDirecciones(dato)">{{dato.nombre}}</button>
        </article>
    </section>
    <section class="mid2">
        <h2>Digitos</h2>
        <article class="tabla_num" id="tabla_num">
            <button *ngFor="let dato of datosNumeros" class="but_t2" (click)="validarDirecciones(dato)">{{dato.nombre}}</button>
        </article>
        <h2 class="t_let">Letras</h2>
        <article class="tabla_let" id="tabla_let">
            <button *ngFor="let dato of datosLetras" class="but_t2" (click)="validarDirecciones(dato)">{{dato.nombre}}</button>
        </article>
        <article class="botones">
            <button class="but_t3" (click)="deshacer()">Deshacer</button>
            <button class="but_t3" (click)="limpiar()">Limpiar</button>
            <button class="but_t3">Enviar</button>
        </article>
    </section>
<!-- </form> -->
