<header class="top">
    <article class="top_a">
        <span>Dirección:</span>
        <input type="text" [value]="imprimirDirecciones()" readonly>
        <span>Dirección con codificación Dian:</span>
        <input type="text" [value]="imprimirDireccionesCC()" readonly>
    </article>
    <article class="top_b">
        <article class="top_b_buscar">
            <span>Buscar:</span>
            <input list="buscador" name="b_buscar_drop" [(ngModel)]="opcionSelector" (change)="validarSelector(opcionSelector)">
            <datalist id="buscador">
                <option *ngFor="let dato of datosSelector" >{{dato.nombre}}</option>
            </datalist>
        </article>
        <form (ngSubmit)="validarNombrable()" class="top_b_nombre" *ngIf="estadoNombrable">
            <span> {{nomPersonalizado}} con nombre?</span>
            <select class="b_nombre_select" [(ngModel)]="opcionNombrable" (change)="cambiarEstadoNombrable(opcionNombrable)" name="opcionNombrable">
                <option value="false">Seleccione</option>
                <option value="true"> Si</option>
                <option value="">No</option>
            </select>
            <input type="text" [(ngModel)]="nombreExterno" name="nombreExterno" [disabled]="disableInput">
            <button class="b_nombre_boton" >Agregar</button>
        </form>
    </article>
</header>
<section class="mid">
    <h1>Nomenclaturas</h1>
    <article class="mid_tablanom" id="mid1_grid">
        <button *ngFor="let dato of datosNomenclatura" class="mid_tablanom_boton" (click)="validarNomenclaturas(dato)">{{dato.nombre}}</button>
    </article>
</section>
<section class="boot">
    <h1 class="boot_titunum">Dígitos</h1>
    <article class="boot_tablanum" id="tabla_num">
        <button *ngFor="let dato of datosNumeros" class="boot_boton" (click)="validarNumeros(dato)">{{dato.nombre}}</button>
    </article>
    <h1 class="boot_titulet">Letras</h1>
    <article class="boot_tablalet" id="tabla_let">
        <button *ngFor="let dato of datosLetras" class="boot_boton" (click)="validarLetras(dato)">{{dato.nombre}}</button>
    </article>
    <article class="boot_botones">
        <button class="boot_botones_boton2" (click)="deshacer()">Deshacer</button>
        <button class="boot_botones_boton2" (click)="limpiar()">Limpiar</button>
        <button class="boot_botones_boton" (click)="enviar()">Enviar</button>
    </article>
</section>