*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    padding: 0% 6% 2% 6%;
    height: 100%;
    background-color: #D6EAF8;
}
h1, h2{
    color: #283747;
    margin: 0px;
}
h2{
    text-align: left;
    font-size: 18px;
    margin: 10px auto 10px 0px;
}
input{
    cursor: default;
    outline: none;
}

button{
    color: #34495E;
    padding: 0px;
    border: 1.5px solid #85C1E9;
    border-radius: 5px;
    background-color: #EBF5FB;
    margin: 2px 1px 2px 0px;
    transition: 400ms;
}
button:hover{
    background-color: #5DADE2;
    color: #2E4053;
    cursor: pointer;
}
.but_t1{
    font-size: 10px;
    height: 28px;
    margin: 2px;
}
.but_t2{
    font-size: 12px;
    height: 26px;
    width: 40px;
}
.but_t3{
    font-size: 12px;
    height: 26px;
    width: 80px;
    margin-left: 4px;
}

.top{
    position: fixed;
    background-color: #D6EAF8;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}
.top_t1{
    display: grid;
    padding-left: 6%;
    padding-right: 6%;
}
.top_t1 span{
    font-size: 12px;
    color: #34495E;
    margin: 5px auto 5px 0px;
}
.drop_tab{
    width: 200px;
    outline: none;
}

.mid1{
    padding-top: 140px;
}
.mid1_grid{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(11, 105px);
}
.mid2{
     display: grid;
     grid-template-columns: 70px 140px auto 64px 340px auto ;
     padding-top: 20px;
}

.tabla_num{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    height: 110px;
}
.t_let{
    grid-column: 4;
}
.tabla_let{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    height: 110px;
}
.tabla_let button{
    text-transform: uppercase;
}
.botones{
    display: flex;
    align-items: center;
    justify-content: right;
}

@media(max-width:1320px){
    .mid1_grid{
        grid-template-columns: repeat(10, 105px);
    }
}
@media (max-width:1200px){
    .mid1_grid{
        grid-template-columns: repeat(9, 105px);
    }
}
@media (max-width:1080px){
    .mid1_grid{
        grid-template-columns: repeat(8, 105px);
    }
}
@media (max-width: 1010px) {
    .mid2{
        grid-template-columns: 70px 140px auto 64px 340px;
    }
   .botones{
        grid-column: 1/6;
        grid-row: 2;
        margin-top: 15px;
        justify-content: center;
    }
}
@media (max-width:960px){
    .mid1_grid{
        grid-template-columns: repeat(7, 105px);
    }
}

@media (max-width:850px){
    .mid1_grid{
        grid-template-columns: repeat(6, 105px);
    }
    .mid2{
        grid-template-columns: 70px 140px auto 64px 340px;
    }
   .botones{
        grid-column: 1/6;
        grid-row: 2;
        margin-top: 15px;
        justify-content: center;
    }
}
@media (max-width:730px){
    .mid1_grid{
        grid-template-columns: repeat(5, 105px);
    }
    .mid2{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .drop_tab{
        width: 100%;
    }
    .but_t1{
        font-size: 8.5px;
        height: 25px;
    }
    .t_let{
        margin-top: 20px;
        margin-left: 45%;
    }
    .t_num{
        margin-left: 45%;
    }
}
@media (max-width:610px){
    .mid1_grid{
        grid-template-columns: repeat(4, 80px);
    }
    .t_let{
        margin-left: 43%;
    }
    .t_num{
        margin-left: 43%;
    }
}
@media(max-width:450px){
    .t_let{
        margin-left: 40%;
    }
    .t_num{
        margin-left: 40%;
    }
}