*{
    margin: 0px;
    padding: 0px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: 'Fredoka', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.search_select_box button{
    background-color: #080342;
    padding: 15px 25px;
    color: #ffffff;
    font-size: 20px;
}

h1{
    color: #34495E;
    margin: 0px;
    text-align: left;
    font-size: 18px;
    margin: 10px auto 10px 0px;
}
span{
    font-size: 12px;
    color: #34495E;
    margin: 5px auto 5px 0px;
}
button{
    color: #34495E;
    padding: 0px;
    border: 1.5px solid #85C1E9;
    border-radius: 5px;
    background-color: #EBF5FB;
    margin: 2px 1px 2px 0px;
    transition: 400ms;
}
button:hover{
    background-color: #5DADE2;
    color: #2E4053;
    cursor: pointer;
}
input, datalist{
    color: #34495E;
    font-size: 12px;
    height: 26px;
}


.top{
    position: fixed;
    background-color: #D6EAF8;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom: 20px;
}
.top_a{
    padding-top: 10px;
    padding-left: 6%;
    padding-right: 6%;
}
.top_a input{
    cursor: default;
    outline: none;
}
.top_b{
    display: grid;
    grid-template-columns: 247px auto 276px;
    margin-left: 6%;
    margin-right: 6%;
}
.b_buscar_drop{
    width: 200px;
    outline: none;
}
.top_b_nombre{
    grid-column-start: 3;
    display: grid;
}
.top_b_nombre select{
    margin: 0px 10px 0px 0px;
}
.top_a, .top_b_buscar{
    display: grid;
}

.mid{
    padding-top: 188px;
}
.mid_tablanom{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(11, 105px);
}
.mid_tablanom_boton{
    font-size: 10px;
    height: 28px;
    margin: 2px;
}

.boot{
    display: grid;
    grid-template-columns: 70px 140px auto 64px 340px auto ;
     padding-top: 20px;
}
.boot_tablanum{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    height: 110px;
}
.boot_titulet{
    grid-column: 4;
}
.boot_tablalet{
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    height: 110px;
}
.boot_tablalet button{
    text-transform: uppercase;
}
.boot_boton{
    font-size: 12px;
    height: 26px;
    width: 40px;
}

.boot_botones{
    display: flex;
    align-items: center;
    justify-content: right;
}
.boot_botones_boton{
    font-size: 12px;
    height: 26px;
    width: 80px;
    margin-left: 4px;
}

@media(max-width:1320px){
    .mid_tablanom{
        grid-template-columns: repeat(10, 105px);
    }
}
@media (max-width:1200px){
    .mid_tablanom{
        grid-template-columns: repeat(9, 105px);
    }
}
@media (max-width:1080px){
    .mid_tablanom{
        grid-template-columns: repeat(8, 105px);
    }
}
@media (max-width: 1010px) {
    .boot{
        grid-template-columns: 70px 140px auto 64px 340px;
    }
   .boot_botones{
       grid-column: 1/6;
       grid-row: 2;
       margin-top: 15px;
       justify-content: center;
    }
}
@media (max-width:960px){
    .mid_tablanom{
        grid-template-columns: repeat(7, 105px);
    }
}

@media (max-width:850px){
    .mid_tablanom{
        grid-template-columns: repeat(6, 105px);
    }
    .boot{
        grid-template-columns: 70px 140px auto 64px 340px;
    }
    .boot_botones{
        grid-column: 1/6;
        grid-row: 2;
        margin-top: 15px;
        justify-content: center;
    }
}
@media (max-width:730px){
    .mid_tablanom{
        grid-template-columns: repeat(5, 105px);
    }
    .boot{
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .b_buscar_drop{
        width: 100%;
    }
    .mid_tablanom_boton{
        font-size: 8.5px;
        height: 25px;
    }
    .boot_titulet{
        margin-top: 20px;
        margin-left: 45%;
    }
    .boot_titunum{
        margin-left: 45%;
    }
}
@media (max-width:610px){
    .top_b{
        grid-template-columns: 100%;
    }
    .top_b_nombre{
        grid-row: 2;
        grid-column: 1;
    }
    .top_b_nombre input{
        width: 300px;
    }
    .mid_tablanom{
        grid-template-columns: repeat(4, 80px);
    }
    .boot_titulet{
        margin-left: 43%;
    }
    .boot_titunum{
        margin-left: 43%;
    }
    .mid{
        padding-top: 235px;
    }
}
@media(max-width:450px){
    .boot_titulet{
        margin-left: 40%;
    }
    .boot_titunum{
        margin-left: 40%;
    }
    .top_b_nombre input{
        width: 200px;
    }
}